/XGTech.BLL/bin
/XGTech.BLL/obj
/XGTech.Config/obj
/XGTech.Config/bin
/XGTech.IBLL/obj
/XGTech.IBLL/bin
/XGTech.Job/obj
/XGTech.Job/bin
/XGTech.Model/obj
/XGTech.Model/bin
/XGTech.Utility/obj
/XGTech.Utility/bin
/XGTech.Web/obj
/XGTech.Web/bin
/XGTech.Web/STO.Web.csproj.user
/.vs
/packages
/XGTech.Web/DownExcel
/XGTech.Web/Properties/PublishProfiles/FolderProfile.pubxml
/XGTech.Web/Properties/PublishProfiles/FolderProfile.pubxml.user
/SqlSugar/obj
/SqlSugar/bin
/XGTech.SqlSugarRepository/obj
/BQAPI/obj
/BQAPI/bin
/XGTech.ChouJiangWeb/obj
/XGTech.Web/wwwroot/Uploads/Images/181017091331596959.png
/XGTech.Web/wwwroot/Uploads/Images/181017091521149672.png
/XGTech.Web/wwwroot/Uploads/Images/181017091707476515.png
/XGTech.Web/wwwroot/Uploads/Images/181017091707496557.png
/XGTech.Web/wwwroot/Uploads/Images/181017091938111152.png
/XGTech.Web/wwwroot/Uploads/Images/181017091938132280.jpg
/XGTech.Web/wwwroot/Uploads/Images/181018110140548884.png
/XGTech.Web/wwwroot/Uploads/Images/181018110914586409.png
/XGTech.Web/wwwroot/Uploads/Images/181018110914607358.png
/XGTech.Web/wwwroot/Uploads/Images/181018111955640198.png
/XGTech.Web/wwwroot/Uploads/Images/181018111955644281.png
/XGTech.Web/wwwroot/Uploads/Images/181019090012398493.png
/XGTech.Web/wwwroot/Uploads/Images/181022043757199881.png
/XGTech.Web/wwwroot/Uploads/Images/181024101742926481.png
/XGTech.Web/wwwroot/Uploads/Images/181024105529944447.png
/XGTech.Web/wwwroot/Uploads/Images/181024105812922621.png
/XGTech.Web/wwwroot/Uploads/Images/181024110450362399.png
